.my-expand{
    background-color: gray;
    height: 360px;
}

.my-grid > div{
    margin-top: 50px;
    
}

.my-footer{
    max-height: 600px;
    padding-bottom: 100px;
    background-color: gray;
}


#carouselExample{
    height: 400px;
}

nav {
    background-color: black;
}

main{
    background-color: black;
    padding-bottom: 100PX;
}