
/* Promoções página */

#promocaopg {
    background: #fcca00;
    background: linear-gradient(0deg, rgba(252, 202, 0, 1) 0%, rgba(222, 11, 11, 1) 87%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#promocoes {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
   
    align-items: center;
    color: rgb(240, 240, 240);
}
  


.roundbox3 {
    background-color: rgb(180, 96, 0);
    border: 1px solid rgb(239, 128, 1);
    border-radius: 40px 40px 40px 40px;
}






#pr-item ul li{

    margin: auto 50px 150px 50px;
    padding: auto 10% auto 10%;

    max-width: 380px;
    height: 380px;

    text-align: center;

    border: 1px solid rgb(239, 128, 1);
    background-color: rgb(180, 96, 0);
    border-radius: 40px;

}


#pr-item ul li section{
    overflow: hidden; 

}

.container-promocao-item {

    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.container-promocao-item section {
    margin-left: 10px;
    margin-right: 10px;

    height: 280px;
}


#pr-item ul li img{
    position: relative;
    width: 96px;
    height: 95px;
    bottom: 90px;
    left: 110px;

    margin-bottom: -100px;
}


/*
#pr-item ul{
    display: flex;
    flex-flow: row wrap;
    margin: 60px auto auto auto;
    justify-content: center;
    
}

#pr-item ul li{
    margin: auto 50px 150px 50px;
    padding: auto 10% auto 10%;

    max-width: 250px;
    height: 300px;

    text-align: center;

    border: 1px solid rgb(239, 128, 1);
    background-color: rgb(180, 96, 0);
    border-radius: 40px;
}
