
/* sobre nó pagina */

#sobreNos {
    text-align:  center;
    
}

.roundbox {
    border: 1px solid rgba(44, 90, 215, 0.7);
    border-radius: 30px;
    background-color: rgba(44, 90, 215, 0.568);
    ;
}

#sobreNos.roundbox  {
    border-radius: 60px ;    

    width: 200px;
    height: 70px;
    padding-left: 200;
    padding-right: 200;
    padding-top: 10;
    padding-bottom: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#informational {
   
    width: 100vw;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    background-image: url('../img/sobrenosbg.png');
}

#informational> *{
    margin: 25px 50px 25px 50px;
    text-align: center;
    padding-left: 20;
    padding-right: 20;
    
}

#colum_info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 30px;
    margin-top: 0px;
}

#info_pt1 {
    width: 50%;
    height: auto;
    padding-left: 10px;

    display: flex;
    justify-content: center;
    justify-self: center;
    gap:10px;
}

#info_pt1 img{
   max-width: 100%;
   height: auto;
   margin: auto;
}


#paragraph{
    display: block;
    align-items: center;
    margin-bottom: 5px;
}


#row_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}


#info_pt2 {
    
    max-width: 800px;
    max-height: 330px;
    
    margin-left: auto;
    margin-right: auto; 
    
    padding: auto;
}

#info_pt2 img {
    max-width: 100%;
   height: auto;
   margin: auto;
}

#info_pt3 {
    max-width: 400px;
    max-height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


